.login_pages{
    // *背景图代码兼容到IE9+
    background: url("./../images/login_bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .page_main{
        // 登陆框
        .login_model{
            padding: 10px;
            position: absolute;
            z-index: 2;
            top: 50%;
            right: 100px;
            width: 350px;
            font-size: 12px;
            transform: translateY(-50%);
            border: 1px solid #eaeaea;
            border-radius: 4px;
            background-color: #fff;
            .form-group{
                .labeText{
                    font-size: 16px;
                }

            }
            .btn{
                width: 100%;
            }
        }
    }
}